.button {
  padding: 0.75rem 1.25rem;
  border: 1px solid white;
  background-color: rgba(0,0,0,0);
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.black {
  color: black;
  border: 1px solid #d1d5db;
}